<!doctype html>
{% extends "BaseLog.html" %}
{% load static %}
{% load myfilters %}

{% block title %}Reset Password Complete{% endblock title %}


{%block content%}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-fluid" id="kt_content_container">
        <div class="d-flex flex-column flex-root">
            <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
                <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
                    <a href="#" class="mb-12 d-none d-sm-block">
                        <img alt="Logo" src="{% static 'hotel1/public/common-assets/images/logo.png' %}" class="h-50px" />
                    </a>
                    <div class="row w-50">
                        <div class=" bg-body col-md-12 rounded shadow-sm p-10 p-lg-15 mx-auto">
                            <form class="login-form" novalidate="novalidate" id="kt_sign_in_form" action="#" method="post">								 {% csrf_token %}

                                <div class="d-flex justify-content-center">
                                    <p class="text-dark title">Reset Password Complete</p>
                                </div>
								<div class="col d-flex justify-content-center">
                                        <img src="{% static '../static/hotel1/public/common-assets/images/image.jpg' %}" class="mx-auto" alt="Login" width="190px" height="170px">
                                </div>
                                <div class="row">
                                    <div class="col mt-10">

										<h5 class="d-flex justify-content-center">
											Your password has been changed successfully. Please &nbsp <a href="{% url 'login' %}">Login</a>



                                        <div class="text-center">

                                        </div>
                                    </div>



                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Content-->

{%endblock content%}
